/* * * * * * * * * *  LOADER.CSS  * * * * * * * * * */
/*
 *  COLORS
 *  Main - #9DE97F
 *
 - - - - - - - - - - - - - - - - */

#loader {
  background-color: rgba(180, 180, 180, 0.6);
  display: none;
  top: 0px;
  left; 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000000;
}

#tout:first-child div {
  display: block;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#tout:first-child>div>div {
  width: 90px;
  height: 90px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}

#tout:first-child div div div {
  width: 110px;
  height: 110px;
  margin: auto;
  top: 360px;
  background-color: #9DE97F;
  border-radius: 0%;
  border: none;
  animation-name: anim, color;
  animation-duration: 800ms;
  animation-timing-function:ease;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

@keyframes anim{
  100% { top:0 }
}

/* @keyframes color{
  0%  { background-color: green; }
  25%  { background-color: green; }
  50% { background-color: red; }
  75% { background-color: yellow; }
  100% { background-color: blue; }
} */
