/* * * * * * * * * *  MAIN.CSS  * * * * * * * * * */
/*
 *  COLORS
 *  Main - #9DE97F
 *
 - - - - - - - - - - - - - - - - */

.nav-bar {
  background-color: #F0F0F0;
  height: 50px;
}

.nav-bar_logoPic {
  display: block;
  height: 50px;
}

.navbar-icon {
  display: block;
  float: left;
  clear: right;
  margin-top: -10px;
  height: 40px;
}

.notification {
  display: none;
}

.logo {
  text-align: center;
}

.access-form {
  background-color: #F7F7F7;
  border-top: 5px solid #9DE97F;
  border-bottom: 5px solid #9DE97F;
  margin-top: 8em;
  padding: 50px 20px;
}

#tableUser {
  text-align: center;
}

.low-rate, .low-rate-pic {
  color: #F00;
}

.high-rate, .high-rate-pic {
  color: #090;
}

.margintop-20px {
  margin-top: 20px;
}

.panel {
  border: 1px solid #9DE97F;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #DBFFCC;
  border-color: #9DE97F;
  font-size: 1.5em;
}

.panel-heading > a {
  text-decoration: none;
}

.panel-heading > a > img {
  opacity: 0.6;
  transition: 500ms ease opacity;
}

.panel-heading > a:hover > img {
  opacity: 1;
}

#tableUser td {
  cursor: pointer;
}

.tab_user_info > tr > td:not(.td-striped) {
  padding-left: 20px !important;
}

.td-title {
  background-color: #F7F7F7;
}

.td-striped {
  background-color: #F7F7F7;
  text-align: right;
  padding-right: 20px !important;
  width: 20%;
}

.tab-title {
  float: right !important;
  font-weight: bold;
}

.tab-title > a {
  color: #000 !important;
}

.tab-title a:hover, .table-title a:active,
.tab-title a:focus {
  background-color: #FFF !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  cursor: default;
}
