body, html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
@font-face{
	font-family: Gotham-Rounded-Light;
	src: url("../fonts/Gotham-Rounded-Light_21020.woff");
}
@font-face{
	font-family: Gotham-Rounded-Medium;
	src: url("../fonts/Gotham-Rounded-Medium_21022.woff");
}
button:focus {
	outline: none;
	 border-color: #fff;
    box-shadow: 1px 0 10px #fff;
}
a{
	text-decoration: none;
	color:#67bc45;
}
input:focus {
    outline: none;
}
input:active {
    outline: none;
}
.table-rep td{
	color: black;
}
.red{
	color:red !important;
}
.notaTR{
	display:none; 
}
.notaTR td{
	padding:5px;
}
.rep-nota-tr:hover { 
	background: #E6E6E6; 
}
.ico-email{
	width: 50px;
	right: 10px;
	position: relative;
}
.div-ico-email{
	width: 100%;
	text-align: right;
}
.bg {
  min-height: 100%;
  min-width: 360px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}
span#ver_grafica {
  background: url('../images/GIRAR_VERTICAL.png') right center no-repeat;
  background-size: 30px;
  box-sizing: border-box;
  color: #939393;
  display: block;
  font-size: 10pt;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding-right: 35px;
  text-align: right;
  width: 90%;
  font-family: Gotham-Rounded-Light;
}
.container{
	max-width: 720px;
	min-width: 320px;
	width: 100%;
	min-height: 400px;
	height: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	display: block;
	top: 0;
	overflow: hidden;
}
.container-g{
	max-width: 720px;
	min-width: 320px;
	width: 100%;
	/*min-height: 400px;*/
	height: 100%;
	/*background: gold;*/
	display: block;
	margin: 0 auto;
	text-align: center;
	display: block;
	overflow: hidden;
}
.container-i{
	max-width: 720px;
	min-width: 320px;
	width: 100%;
	min-height: 400px;
	/*height: 100%;*/
	display: block;
	margin: 0 auto;
	text-align: center;
	display: block;
	top: 0;
	overflow: hidden;
}

.scroll{
	overflow: auto !important;
}
.cont-top{
	width: 100%;
	height: 46%;
	/*background: blue;*/min-height: 140px;
}
.no-back:hover{
	background: none !important;
}
.menu-container{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #a4ee86; /* Old browsers */
background: -moz-linear-gradient(top,  #a4ee86 0%, #67bc45 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4ee86), color-stop(100%,#67bc45)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a4ee86 0%,#67bc45 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a4ee86 0%,#67bc45 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a4ee86 0%,#67bc45 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a4ee86 0%,#67bc45 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4ee86', endColorstr='#67bc45',GradientType=0 ); /* IE6-9 */
}
.pres{
	overflow: auto;
}
button.btn, div.btn{
	width: 90%;
	min-height: 36px;
	padding: 0;
	background: #67bc45;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 50px;
	color: #fff;
	/*font-size: 7vw;*/
	font-size: 1em;
	text-align: center;
	font-family: Gotham-Rounded-Medium;
	cursor: pointer;
	margin-bottom: 5%;
	line-height: 35px;
}
div.btn{
	cursor: inherit;
}
.container-i button.btn{
	padding: 1%;
	font-size: 19pt;
	width: 60%;
}
button.btn-apple{
	background: #000000;
	color: #FFFFFF;
	border: 1px solid #000000;
	position: relative;
}
button.btn-apple img{
	position: absolute;
	left: 10%;
	width: 15pt;
	top: 7pt;
}
@media (max-width: 600px) {
	.container-i button.btn {
		padding: 1%;
		font-size: 15pt;
		width: 90%;
	}
	button.btn-apple img {
		position: absolute;
		left: 10%;
		width: 12pt;
		top: 7pt;
	}

}
button.btn-facebook{
	background: #3b5998;
}
button.btn-google{
	background: #db4a39;
}
.rotar{
	width: 45px;
	height: 45px;
	display: block;
	background: #fff url('../images/rotar.png') no-repeat center;
	top: 50%;
	position: absolute;
	right: 3%;
	background-size: 65%;
}
div.ver, button.ver{
	cursor: inherit;
	/*background: #67bc45 url('../images/icono_girar_cel2.png') 90% center no-repeat !important;*/
	background: #67bc45;
  	background-size: 30px !important;
  	display: block;
	width: 90%;
	min-height:36px;
	padding: 0;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 50px;
	color: #fff;
	/*font-size: 7vw;*/
	font-size: 1em;
	text-align: center;
	font-family: Gotham-Rounded-Medium;
	cursor: pointer;
	margin-bottom: 5%;
	line-height: 35px;
}
button.btn:active{
	border: none;
	color:red;
}
img{
	max-width: 100%;
	height: auto;
}
.img-intro{
	width: 53%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	margin-top: 5%;
}
h2{
	min-width: 56%;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: Gotham-Rounded-Medium;
	 /*font-size: 4.5vw;*/font-size: 1em;
}
hr{
	  color: #4aac4b;
  height: 2px;
  background: #4aac4b;
  width: 2%;
  border: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
h3{
	width: 74%;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: Gotham-Rounded-Light;
	 /*font-size: 3.5vw;*/
	 font-size: .8em;
	 color: #555555;
}
h4{
	/*width: 60%;
	display: block;*/
	display: inline-block;
	padding: 0;
	text-align: center;
	font-family: Gotham-Rounded-Light;
	 /*font-size: 3.5vw;*/
	 font-size: .8em;
	 color: #fff;
	 margin: 15px auto;
}
footer a{
	text-decoration: none;
	color: #555555;
}
footer{
	width: 100%;
	font-family: Gotham-Rounded-Light;
	/*font-size: 4vw;-*/
	font-size: .8em;
	color: #555555;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	position: fixed;
	bottom: 2%;
}
footer.dem{
	position: inherit;
	display: block;
	margin-top: 40px;
	margin-bottom: 0%;
}
footer.no-fixed{
	position: inherit;
	display: block;
	margin-top: 0%;
	margin-bottom: 2%;
}
footer.altas span{
	text-transform: uppercase;
}
form.log {
	/*padding-top: 2%;*/
	height: 50%;
	background: #fff;
	position: relative;
	/*z-index: 2000;*/
	/*overflow: auto;*/
	/*background: pink;*/
	/*margin-top: 7%;*/
}
form.log input{
	width: 85%;
	/*min-height: 40px;*/
	height: 11%;
	min-height: 36px;
	display: block;
	border: 0;
	color: #555555;
	/*font-size: 3.5vw;*/
	font-size: .7em;
	margin: 0 auto 5% auto;
	font-family: Gotham-Rounded-Light;
	border: 1px solid #67bc45;
	border-radius: 50px;
	padding-left: 5%;
	/*background: red !important;*/
}
select, input[type="date"]{
	width: 85%;
	/*min-height: 40px;*/
	height: 7%;
	display: block;
	border: 0;
	color: #555555;
	font-size: .7em;
	margin: 0 auto 5% auto;
	font-family: Gotham-Rounded-Light;
	border: 1px solid #67bc45;
	border-radius: 50px;
	padding-left: 5%;
	/*background: red !important;*/
}
select{
	width: 100%;
	background: url("../images/icon11.png") no-repeat;
	background-position: 95% center;
	background-size: 30px;
	appearance: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearance: none;
  	position: relative;
  	padding-left: 45%;
  	/*height: 100%;*/
  	min-height: 45px;
}
/*.origen select {
	padding-left: 18% !important;
}
.categ select {
	padding-left: 24% !important;
}
.subcateg select {
	padding-left: 31% !important;
}*/
.nueva{
	/*background: red;*/
	width: 90% !important;
	min-height: 33px;
}
select option{
}
span.textarea > textarea{
	width: 81% !important;
	min-height: 34px;
	height: 100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: url("../images/nota_icon.png") no-repeat;
	background-position: 95% 10%;
	background-size: 9%;
	line-height: 30px;
	margin: 0 auto 0 auto;
	resize: none;
	border: 1px solid #67bc45;
	border-radius: 19px;
	padding-left: 10px;
	font-family: Gotham-Rounded-Light;
}

span.textarea > textarea::-webkit-input-placeholder {
	font-size:.79em;
	resize:none;
	font-family: Gotham-Rounded-Light;
	color: #67bc45;
}

span.s{
  width: 87%;
  /*min-height: 30px;*/
  height: 7.5%;
  display: block;
  position: relative;
  margin: 0 auto 5% auto;
 /* background: red;*/
}
span.s:before{
	content: "Origen:";
	/*font-size: 3.5vw;*/
	font-size: .7em;
	position: absolute;
	font-family: Gotham-Rounded-Light;
	color: #67bc45;
	top: 30%;
   left: 4%;
}
span.s.categ:before{
	content: "Categoria:";
	font-size: .7em;
	position: absolute;
	font-family: Gotham-Rounded-Light;
	color: #67bc45;
	top: 30%;
   left: 4%;
}
span.s.subcateg:before{
	content: "Subcategoria:";
	font-size: .7em;
	position: absolute;
	font-family: Gotham-Rounded-Light;
	color: #67bc45;
	top: 30%;
   left: 4%;
}

span.s.date:before{
	content: "Fecha:";
	font-size: .7em;
	position: absolute;
	font-family: Gotham-Rounded-Light;
	color: #67bc45;
	top: 30%;
    left: 4%;
}
span.s.anio:before{
	content: "Año:";
}
span.s.mes:before{
	content: "Mes:";
}
@media only screen and (device-width: 768px) {
	.date > input[type="date"]{
  		min-height: 50px !important;
  	}
}
.date > input[type="date"]{
	width: 88% !important;
	min-height: 34px;
padding-left: 10%;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearance: none;
  	background: url("../images/icon13.png") no-repeat;
  	background-position: 95% center;
    background-size: 9%;
    text-align: center;
	line-height: 30px;
	margin: 0 auto 0 auto;
  	/**/
}

input[type="date"]{
	width: 87% !important;
	padding-left: 10%;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearance: none;
  	background: url("../images/icon13.png") no-repeat;
  	background-position: 95% center;
    background-size: 9%;
    text-align: center;
	line-height: 30px;
	margin: 0 auto 0 auto;
  	/**/
}

form.log input:nth-child(1){
	background: url("../images/email.png")no-repeat 95% center;
	background-size: 19px;
}
form.log input:nth-child(2){
	background: url("../images/icon2.png")no-repeat 95% center;
	background-size: 23px;
}
form.log input[type="password"]{
	background: url("../images/icon3.png")no-repeat 95% center;
	background-size: 23px;
}
.iLog{
	width: 40% !important;
	margin-top: 8%;
	margin-bottom: 2%;
}
.ol{
	color: #67bc45;
	width: 80%;
  display: block;
  margin: 0% auto 10% auto;
  padding: 0;
  text-align: center;
  font-family: Gotham-Rounded-Medium;
  font-size: 3.5vw;
}
form.log.reg input{
	margin-bottom: 9%;
  /*margin-top: 12%;*/

}
form.log.reg input.pass{
	margin-bottom: 4%;
}
form.log.reg input:first-child{
	margin: 12% auto 6% auto !important;
}

.tg{
	/*font-size: 8vw;*/
	font-size: 1.7em;
	font-weight: lighter;
	text-transform: uppercase;
	width: auto;
	margin-top: 5%;
}
.tg b{
	color: #67bc45;
}
.ing{
	width: 35%;
	margin-top: 25%;
}
.tb{
	color: #000;
}
p{
	width: 80%;
	display: block;
	margin: 6% auto 7% auto;
	padding: 0;
	text-align: center;
	font-family: Gotham-Rounded-Light;
	 /*font-size: 3.4vw;*/
	 font-size: 0.7em;
	 color: #555555;
}
.gen1{
	width: 70% !important;
	text-align: center !important;
	vertical-align: middle;
	font-size: 1.3em !important;
	padding-left: 5% !important;
}
.gen{
	width: 70% !important;
	text-align: left !important;
	vertical-align: middle;
	/*font-size: 6vw !important;*/
	font-size: 1em !important;
	  padding: 1.5% 0 1.5% 5% !important;
	  height: 6.5%;
}
.gen2{
	width: 70% !important;
}
.gen4{
	width: 87% !important;
	margin-top: 10% !important;
	margin-bottom: 8% !important;
}
.gen5 {
  width: 70% !important;
  text-align: center !important;
  vertical-align: middle;
  font-size: 1em !important;
  padding: 0;
  height: 6.5%;
  padding: 0% 2% !important;
}
p.gen2{
	margin: 1% auto 0 auto;
}
p.gen3{
	margin: 1% auto 4% auto;
	font-size: 2.4vw;
}
button.r{
	width: 14%;
	height: 100%;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}
button.r:nth-child(1){
	background: url("../images/icon9.png") center;
	background-size: 90% auto;
	background-repeat: no-repeat;
	margin-left: 4%;
}
button.r:nth-child(2){
	background: url("../images/icon61.png") center;
	background-size: 90% auto;
	background-repeat: no-repeat;
}
button.r:nth-child(3){
	background: url("../images/icon62.png") center;
	background-size: 90% auto;
	background-repeat: no-repeat;
}

.diner_pre{
	min-width: 60%;
	height: 35px;
	margin: 2% auto 0 auto;
	display: block;
	font-family: Gotham-Rounded-Medium;
	/*font-size: 15vw;*/
	font-size: 2em;
	color: #555555;
	text-align: center;
}
.diner_pre b{
	 font-weight: lighter;
	/* font-size: 10vw;*/
	font-size: .75em;
	 display: inline-block;
	 vertical-align: top;
	 margin-right: 5px;
	 margin-top: 2%;
}
.diner_pre div{
	display: inline-block;
	vertical-align: top;
	letter-spacing: -3px;
}

.diner{
	min-width: 60%;
	height: 58px;
	margin: 0% auto 0 auto;
	display: block;
	font-family: Gotham-Rounded-Medium;
	/*font-size: 15vw;*/
	font-size: 3em;
	color: #000;
	text-align: center;
}

.diner b{
	 color: #67bc45;
	 font-weight: lighter;
	/* font-size: 10vw;*/
	font-size: .6em;
	 display: inline-block;
	 vertical-align: top;
	 margin-right: 5px;
	 margin-top: 2%;
}
.diner div{
	display: inline-block;
	vertical-align: top;
	letter-spacing: -3px;
}
.ingD{
	width: 35%;
	margin-top: 16%;
	margin-bottom: 7%;
}
.bajo{
	margin-bottom: 10% !important;
}
.padding-bajo{
	padding-bottom: 3% !important;
}
p.gen{
	margin: 2% auto 3% auto;
}
button.back{
	width: 55px;
	height: 44px;
	position: absolute;
	top: 0%;
	left:0%;
	background: url("../images/icon8.png") no-repeat center;
	border: none;
	background-size: 70%;
	margin: 10px;
}
button.logout{
	width: 55px;
	height: 44px;
	position: absolute;
	top: 0%;
	left:0%;
	background: url("../images/logout.png") no-repeat center;
	border: none;
	background-size: 70%;
	margin: 10px;
}
button.coin{
	width: 55px;
	height: 44px;
	position: absolute;
	top: 0%;
	right: 0%;
	background: url("../images/icon7.png") no-repeat center;
	border: none;
	/*background-size: 75%;*/
	background-size: 55%;
	margin: 10px;
}
button.edit_list{

	position: absolute;
	top: 50%;
	background: url("../images/edit_list.png") no-repeat center;
	border: none;
	width: 45px;
	height: 45px;
	display: block;
	left: 6%;
	background-size: 65%;

}
.g{
	/*font-size: 6.5vw;*/
	font-size: 1.3em;
	margin: 21% auto 0 auto;
}
.g-sub{
	font-size: 1em;
	font-weight: normal;
}
.pt{
	/*font-size: 5.5vw;*/
	font-size: 1.3em;
	margin: 6% auto 0 auto !important;
}
.numero{
	width: 100%;
  margin: 2% auto 5% auto;
  display: inline-block;
  height: 54%;
}
.numero button{
	width: 33.33%;
	/*min-height: 40px;*/
	height: 23%;
	float: left;
	background: #fff;
	border: none;
	color: #000000;
	font-size: 9vw;
	cursor: pointer;
	background: url("../images/icon12.png") no-repeat bottom center;
	background-size: 90% 1px;
	font-family: Gotham-Rounded-light;
}
.numero button.point{
	position: relative;
}
.numero button.point:before{
	content: "•";
	width: 6%;
	height: 46%;
	font-size: 1em;
	/*background: red;*/
	position: absolute;
      top: 35%;
  	left: 45%;
    /* left: 45%;
	border-right: 3px solid #888888;
	border-bottom: 3px solid #888888;
	 transform: rotate(47deg);*/

}
.numero button:nth-child(2), .numero button:nth-child(5), .numero button:nth-child(8), .numero button:nth-child(11) {
	border-left: 1px solid #abe4b1;
	border-right: 1px solid #abe4b1;
}
.numero button:nth-child(10), .numero button:nth-child(11), .numero button:nth-child(12){
	background: none;
}
.font-green{
	color:#67BC45 !important;
	font-weight: bold;
}
.alerta,.alerta_default, .load, .offline{
	position: absolute;
	top: 0;
	width: 100%;
	height: 110%;
	overflow: hidden;
	background: url("../images/icon14.png");
	z-index: 1000;
	display: none;
}

.instant-alert {
	background: rgba( 120, 120, 120, 0.8 );
	border-radius: 50px;
	bottom: 10px;
	left: 5%;
	display: none;
	padding: 1% 0 1% 0;
	position: absolute;
	width: 90%;
	height: 4%;
	z-index: 1000;
	transition: 500ms ease all;
	color: #FFF;
	text-align: center;
}

img.loading{
	width: 40px;
	height: 40px;
}
.cir{
	position: relative;
	min-width: 50%;
	max-width: 80%;
	min-height: 264px;
	max-height: 520px;
	height: auto;
	display: block;
	margin: 40% auto 0 auto;
	text-align: center;
	padding-top: 3%;
}
.cir img{
	position: absolute;
	top: 0;
	left: 0;

}
.cir .icon{
	position: relative;
	/*display: block;*/
	margin: 27px auto 5px auto;
	width: 20%;
	padding: 0 30%;
}
button.cerrar{
	width: 38px;
	height: 38px;
	display: block;
	margin: 0px auto 0 auto !important;
	background: url("../images/icon16.png") no-repeat center;
	border: none;
	cursor: pointer;
	background-size: 53%;
	position: relative;
	top: 0%;

}
.cir>p{
	font-family: Gotham-Rounded-Light;
	color: #fff;
	/*font-size: 5vw;*/
	font-size: 1em;
	margin: 0 ;
	position: relative;
	top:24%;
	width: 80%;
	text-align: center;
	padding: 0 10%;
	max-height: 93px;
	text-overflow: ellipsis;
    /*overflow: hidden;*/
}
.cir>p span{
	display: block;
	font-weight: bold;
	font-family: Gotham-Rounded-Medium;
	/*font-size: 5vw;*/
	font-size: .9em;
	margin-bottom: 5px;
}
.cir-y{
	position: relative;
	min-width: 50%;
	max-width: 80%;
	min-height: 264px;
	max-height: 520px;
	height: auto;
	display: block;
	margin: 40% auto 0 auto;
	text-align: center;
	padding-top: 3%;
}
.cir-y>p{
	font-family: Gotham-Rounded-Light;
	color: #fff;
	/*font-size: 5vw;*/
	font-size: 1em;
	margin: 0 ;
	position: relative;
	top:24%;
	width: 100%;
	text-align: center;
	padding-top: 5%;

}
.cir-y>p span{
	display: block;
	font-weight: bold;
	font-family: Gotham-Rounded-Medium;
	/*font-size: 5vw;*/
	font-size: .9em;
	padding-bottom: 8%;
}
.cir-y img{
	position: absolute;
	top: 0;
	left: 0;

}
.cir-y .icon{
	position: relative;
	/*display: block;*/
	margin: 27px auto 5px auto;
	width: 20%;
	padding: 0 30%;
}
ul.catego{
	width: 100%;
	height: 82%;
	display: inline-block;
	margin: 30.5% 0 0 0;
	padding: 0;
	/*background:gold;*/
	overflow: auto;
}
ul.catego li{
	width: 91%;
	max-width: 100%;
	min-height: 70px;
	height: 10.4%;
	float: left;
	/*background: gold;*/
	list-style: none;
	border-bottom: 1px solid #e8e7ea;
	padding: 1.5% 3% 1.5% 6%;
	background: url("../images/icon28.png")no-repeat 95% center;
	background-size: 5%;
}
ul.catego li:hover{
	background: #f0f0f0 url("../images/icon28.png")no-repeat 95% center;
	background-size: 5%;
}
ul.catego>li img, button.agregar img{
	/*display: inline-block;*/
	float: left;
	vertical-align: middle;
	width: 15%;
	max-width: 20%;
}
ul.catego>li div, button.agregar div{
	/*display: inline-block;*/
	float: left;
	vertical-align: middle;
	padding-left: 3%;
}
ul.catego>li div p, button.agregar div p{
	padding: 0;
	margin: 0;
	display: block;
	min-height: 10px;
	width: auto;
	text-align: left;
	font-size: .9em;
		font-family: Gotham-Rounded-light;
}
ul.catego>li div p.mot{
	font-size: 5vw;
	color: #000;
		font-family: Gotham-Rounded-Medium !important;
}
ul.catego li:last-child{
	background: none;
	border-bottom: none;
	margin-top: 3%;
}
.no-border{
	border: none !important;
}
button.agregar div p.mot{
	font-size: 5vw;
	color: #555555;
}
.cbc{
	width: 100%;
	display: block;
	background:#fff;
	position: fixed;
	top:0;
	min-height: 17.5%;
	/*min-height: 39px;*/
	z-index: 500;
}
.no-fix{
	position: inherit !important;
}
.no-top{
	top: 0% !important;
}
button.agregar{
	width: 100%;
	/*min-height: 50px;*/
	height: 100%;
	display: block;
	border: none;
	background: #fff;
	margin: 0;
	cursor: pointer;
	text-align: left;
	padding: 0;
	/*background: red;*/
}
button.agregar div{
	/*background: red;*/
	margin-top: 3%;
}

.line{
	width: 90%;
	height: 1px;
	display: block;
	margin: 5% auto;
	background:#67bc45;

}
button.selecciones{
	  width: 90%;
	  /*min-height: 40px;*/
	  height: 7%;
	  display: block;
	  border: 0;
	  color: #555555;
	 /* font-size: 5vw;*/
	 font-size: .7em;
	  margin: 0 auto 5% auto;
	  font-family: Gotham-Rounded-Light;
	  border: 1px solid #67bc45;
	  border-radius: 50px;
	  padding-left: 5%;
	  background: #fff url("../images/icon30.png") no-repeat 95% center;
	  background-size: 6%;
	  text-align: left;
	  cursor: pointer;
}
.b-twin{
	/*background: red;*/
	width: 90%;
	/*height: 6%;*/
	height: 30px;
	display: block;
	margin: 0 auto;
	position: relative;
	margin: 0 auto 5% auto;
}
ul.fr{
	background: blue;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0;
}
input.selecciones[type="text"]{
	  width: 95%;
	  height: 100%;
	  display: block;
	  border: 0;
	  color: #555555;
	 font-size: .7em;
	  font-family: Gotham-Rounded-Light;
	  border: 1px solid #67bc45;
	  border-radius: 50px;
	  padding-left: 5%;
	 /* background: #fff url("../images/icon30.png") no-repeat 95% center;
	  background-size: 6%;*/
	  background: #fff;
	  text-align: left;
}
div.selecciones{
	  width: 95%;
	  height: 100%;
	  display: block;
	  border: 0;
	  color: #555555;
	 font-size: .7em;
	  font-family: Gotham-Rounded-Light;
	  border: 1px solid #67bc45;
	  border-radius: 50px;
	  padding-left: 5%;
	 /* background: #fff url("../images/icon30.png") no-repeat 95% center;
	  background-size: 6%;*/
	  background: #fff;
	  text-align: left;
	  line-height: 34px;
}
button.cerrar-i {
  width: 28px;
  height: 110%;
  display: inline-block;
  background: url("../images/icon30.png") no-repeat center;
  border: none;
  cursor: pointer;
  background-size: 70%;
  position: absolute;
  right: 3%;
  top: 0%;
  border-radius: 50%;
}
.mas{
	background: #fff url("../images/icon32.png") no-repeat 95% center !important;
	background-size: 6% !important;
	border: 1px solid #c3c3c3 !important;
	height: 34px !important;
}
.t1{
	width: auto;
	text-align: left;
	color: #67bc45;
	display: inline-block;
}
.t2{
	width: auto;
	text-align: left;
	display: inline-block;
}
.tt{
	width: 90%;
	display: block;
	margin: 0 auto 8% auto;
	position: relative;
	text-align: left;
}
.tt img{
	max-width: 100%;
	width: 15%;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
button.conf{
	width: 60%;
	height: auto;
	min-height: 30px;
	background:#fff;
	border: none;
	/*position: absolute;*/
	bottom: 20%;
	border-radius: 50px;
	text-align: center;
	color: #67bc45;
	font-size: 5vw;
	margin-top: 25px;
	font-weight: bold;
}
.elim .icon{
	margin: 15px auto 2% auto !important;
}
.elim button{
	margin-top: 5%;
}
form.logR {
  /*background: red;*/
  height: 90%;
  margin-top: 40%;
  overflow: auto;
}
.no-margin{
	margin: 0 auto!important;
}
.margin-home{
	margin: 2% auto!important;
}
.margin-top2{
	margin-top: 12% !important;
	}
	.margin-top5{
	margin-top: 5% !important;
	}

form.olv{
	padding-top: 10%;
}
form.olv>input:nth-child(2){
	margin-bottom: 30%;
}
form.logR input {
	width: 85%;
	min-height:26px;
	height: 6.5%;
	display: block;
	border: 0;
	color: #555555;
	/*font-size: 3.5vw;*/
	font-size: .7em;
	margin: 0 auto 7% auto;
	font-family: Gotham-Rounded-Light;
	border: 1px solid #67bc45;
	border-radius: 50px;
	padding-left: 5%;
}
form.logR select{
	width: 102%;
	float: left;
}
form.logR span>input[type="date"]{
	width: 85% !important;
	height: 100%;
}
form.logR span>input[type="time"]{
	  width: 85% !important;
  height: 100%;
  /*padding-left: 35%;*/
    background: url("../images/icon65.png") no-repeat;
  background-position: 95% center;
  background-size: 9%;
  text-align: center;
  line-height: 30px;
  -webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
}
form.logR span{
	position: relative;
	display: block;
	height: 6.5%;
	  margin-bottom: 7%;
	 /* z-index: -100;*/
}
form.logR span:before{
	content: "Fecha";
	color: #67bc45;
	position: absolute;
	/*font-size: 3.5vw;*/
	font-size:.7em;
	font-family: Gotham-Rounded-Light;
	top: 30%;
	left: 10%;
	height: 31%;
}
form.logR .repetir:before{
	content: "Repetir";
}
form.logR span:nth-child(3):before{
	content: "Hora";
}
form.logR textarea{
	margin: 0 auto;
	display: block;
	width: 86%;
	border: 1px solid #67BC45;
	border-radius: 20px;
	height: 20%;
	font-family: Gotham-Rounded-Light;
	padding: 2% 0 0 4%;
}
form.logR textarea[placeholder]{
	/*font-size: 3.5vw;*/
	font-size:.7em;
	resize:none;
}
form.logR p{
	color: #67bc45;
	font-family: Gotham-Rounded-Medium;
	font-size: 4vw;
	margin: 0;
	padding: 0;
	display: block;
	width: 90%;
	text-align: left;
	margin: 5% auto;
}
div.check{
	font-family: Gotham-Rounded-Light;
	/*font-size: 3.4vw;*/
	font-size: .7em;
	width: 90%;
	height: auto;
	display: block;
	margin: 0 auto;
	/*background:red;*/
	vertical-align: top;
	text-align: center;
	color: #555555;
}
div.check label{
	display: inline-block;
}
div.check label:nth-child(2){
	float: left;
}
div.check label:last-child{
	float: right;
}
div.check label:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("../images/check.png");
}
div.check input[type="radio"]:checked + label:before {
  background: url("../images/checked.png");
}
div.check input[type="radio"]{
  display: none;
}
div.check span{
	display: block;
	position: relative;
}
div.check span:before{
	content: "Anticipación";
	position: absolute;
	font-size: 3.5vw;
	position: absolute;
	font-family: Gotham-Rounded-Light;
	color: #67bc45;
	top: 8px;
   left: 8%;
}
.vi{
	display: block;
	margin: 5% auto 10% auto !important;
	height: 6.5% !important;
}
.vi>span{
	  width: 70%!important;
	 /* background: gold;*/
	  height: 100% !Important;
	  display: inline-block !important;
	  float: left;
}
.vi select.vi-s{
	height: 100% !important;
	width: 100%;
	padding-left: 44% !important;
}

.c-range{
	position: relative;
	width: 90%;
	min-height: 240px;
	height: auto;
	display: block;
	margin: 0 auto 0 auto;
}
.range{
	width: 90%;
	min-height: 50px;
	display: block;
	margin: 0 auto;
	/*background: orange;*/
	padding-top: 20%;
	text-align: center;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	bottom: 0;
	left: 0px;
	bottom: 22%;
}
.range input[type="range"]{
	/*transform: rotate(90deg)*/
}
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 85%;
  height: 1px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #e6e6e8;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}
.text{
	width: 80%;
 	height: auto;
 	/*position: absolute;*/
 	display: block;
 	text-align: center;
 	margin: 2% auto;

 	font-size: .7em;
 	font-family: Gotham-Rounded-Light;
 	color: #555555;
}
/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
    background: url("../images/icon37.png");
    background-size: contain;
    transform: rotate(90deg);
    position: relative;
 }
 /*input[type="range"]::-webkit-slider-thumb:after{
 	content: "Porcentaje del total de gastos alcanzados para alertar";
 	width: 130px;
 	height: auto;
 	position: absolute;
 	left: -335%;
 	text-align: right;
 	font-size: 4.8vw;
 }*/
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: url("../images/icon37.png");
  background-size: contain;
  transform: rotate(90deg);
    position: relative;
}
 /*input[type="range"]::-moz-slider-thumb:after{
 	content: "Porcentaje del total de gastos alcanzados para alertar";
 	width: 130px;
 	height: auto;
 	position: absolute;
 	left: -335%;
 	text-align: right;
 	font-size: 4.8vw;
 }*/

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 0;
    background: url("../images/icon37.png");
    background-size: contain;
    transform: rotate(90deg);
    position: relative;
 }
 /* input[type="range"]::-ms-slider-thumb:after{
 	content: "Porcentaje del total de gastos alcanzados para alertar";
 	width: 130px;
 	height: auto;
 	position: absolute;
 	left: -335%;
 	text-align: right;
 	font-size: 4.8vw;
 }*/
 .porcent{
 	margin: 32% auto 0 auto;
 }
 	/*background: red;
 	display: block;
 	margin: 39% auto 0 auto;
 	font-family: Gotham-Rounded-Light;
 	  color: #67bc45;
 	  font-size: 3em;
 	  vertical-align: top;
 }
 .porcent b{
 	font-size: .6em;
 }
 .porcent span{
 	font-family: Gotham-Rounded-Medium;
 	  color: #000;
 	  font-size: 3em;
 }*/

 .cat-gr{
 	margin: 40% 0 0 0 !important;
 }

 .cat2{
 	margin: 32% 0 0 0 !important;
 	/*background: green;*/
 }

 ul.cat2>li div {
	/*background: red;*/
	display: block;
	padding: 15px 0;
}
.elim .sobre{
	 margin: 0px auto 2% auto !important;
}
.elim p.sobre{
	width: 90%;
}
article.menu{
	width: 50%;
	height: auto;
	position: relative;
	display: inline-block;
	/*background:red;*/
	margin-left: -1%;
	vertical-align: text-top;
	margin-bottom: 3px;
}
article.menu img{
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}
article.menu p{
	color: #fff;
	/*font-size: 5vw;*/
	font-size: .9em;
	margin: 6% auto 7% auto !important;
	text-transform: uppercase;
}
article.menu button{
	border: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
}
article.menu a{
	border: none;
	/*background: red;*/
	cursor: pointer;
	width: 100%;
	height: auto;
	display: block;
	text-decoration: none;
}

button.coin-m{
	width: 55px;
	height: 44px;
	position: initial;
	float: right;
	background: url("../images/icon46.png") no-repeat center;
	border: none;
	background-size: 55%;
	margin: 10px;
}
.menu-container div{
	width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}
div.f-men{
	position: absolute;
	/*bottom: 10px;*/
	bottom: 0px;
	left: 0;
	text-align: center;
}
.cont-table{
	width: 98%;
	height: auto;
	display: block;
	margin: 18% auto 0 auto;
}
.cont-table table{
	width: 100%;
	font-family: Gotham-Rounded-Light;
	color: #c1c1c1;
	margin-bottom: 5%;
}
.cont-table table thead td{
	/*background: red;*/
	border-top: 1px solid #fff;
    border-collapse: collapse;
    color: #67bc45;
    font-family: Gotham-Rounded-Medium;
    font-size: 2.8vw;
    height: 32px;
}
.cont-table table thead td:first-child{
	border-left: 1px solid #fff;
}
.cont-table table thead td:last-child{
	border-right: 1px solid #fff;
}
.cont-table table, th, td{
	 border: 1px solid #67bc45;
    border-collapse: collapse;
}
.cont-table table td{
	min-width: 25%;
	vertical-align: middle;
	font-size: 2.7vw;
}
.cont-table table tr td:first-child{
	border-left: 1px solid #fff;
}
.cont-table table tr td:last-child{
	border-right: 1px solid #fff;
}
.cont-table table tr.totales td{
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
div.m-gasto{
	display: block;
	text-align: left;
	padding: 6% 0;
}
div.m-gasto>p{
	margin: 0;
  padding: 0;
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  font-family: Gotham-Rounded-Medium;
	color: #000;
	font-size: 2.8vw;
}
div.m-gasto img{
	width: 18%;
  vertical-align: middle;
  margin-right: 5%;
  display: inline-block;
  margin-left: 3%;
}
/*.cont-table table td:hover{
	background: #67bc45;
	color: #fff;
}*/
.active-td{
	background: #000;
	/*background: #67bc45;*/
	color: #fff;
}
.totales{
	color: #67bc45;
  	font-family: Gotham-Rounded-Medium;
}
.c-graf{
	min-width: 310px;
	height: 250px;
	max-width: 600px;
	margin: 60px auto 0 auto;
}


div.shared{
	text-align: center;
}

/*
@media screen and (max-device-width: 640px) and (orientation: landscape){
 .alerta{
 	height: 210%;
 }
 .cir{
 	margin: 5% auto 0px;
 }
 ul.catego{
 	margin: 145px 0 0 0;
 }
}*/

/*ipad landscape
@media screen and (min-width: 980px) and (max-width: 1024px) and (orientation:landscape){
	.menu-container{
	padding: 0 5%;
	width: 90%;
	}
	article.menu img {
	  width: 25%;
	}
	article.menu p {
	  font-size: 3vw;
	}
	div.f-men img{
		width: 45%;
	}
	footer{
		margin-top: 9%;
	}
	.img-intro{
	  	margin-top: 2%;
	  	width: 30%;
	 }

}*/
.cont-toggle{
	width: 100%;
	min-height: 300px;
	height: auto;
	margin-top: 37%;
	display: block;
	/*background: red;*/
	margin-bottom: 15%;
}
.ct-myo{
	border-bottom: 1px solid #e0e0e0;
}
.myo{
	width: 87%;
	height: auto;
	display: block;
	margin: 0 auto;
	/*background: blue;*/

	  font-family: Gotham-Rounded-Light;
	  text-align: left;
	  min-height: 55px;
	  padding-top: 4%;
}
.title{
	vertical-align: top;
	margin-top: 3%;
  display: inline-block;
  font-size: .9em;
  letter-spacing: -1px;
  font-family: Gotham-Rounded-Medium;
  width: 80%;
  margin-bottom: 5%;
}
.text-myo{
	width: 87%;
	height: auto;
	margin: 0 auto;
	display: block;
	/*background: green;*/
	display: none;
	  font-family: Gotham-Rounded-Light;
}
.text-myo p{
	  font-family: Gotham-Rounded-Medium;
  font-size: .8em;
  padding: 0 0 5% 20%;
  margin: 0;
  text-align: left;

}
.terminos{
    text-align:left;
    width: 80%;
	display: block;
	margin: 6% auto 7% auto;
	padding: 0;
	font-family: Gotham-Rounded-Light;
	font-size: 0.7em;
	color: #555555;
}
.terminos ul{
    -webkit-padding-start: 20px;
}
label.radio {
   font-family: Gotham-Rounded-Medium;
   font-size: 0.7em;
   background: url("../images/check2.png") no-repeat;
   background-position: left center;
   background-size: 25px;
   padding:13px 0 13px 27px;
   text-align: left;
   display: inline-block;
   margin-top: -9px;
   color: #555555;
   margin-bottom: 4px;
}
input.radio[type=radio] {
	display: none !important;
}
input[type=radio]:checked + label {
   font-family: Gotham-Rounded-Medium;
   font-size: 0.7em;
   background: url("../images/check1.png") no-repeat;
   background-position: left center;
   background-size: 25px;
   padding:13px 0 13px 27px;
   text-align: left;
   display: inline-block;
   margin-top: -9px;
   color: #555555;
}
.top{
	margin-top: 150px;
}
.error{
   font-family: Gotham-Rounded-Medium;
   font-size: 0.7em;
   color:#555555;
}
.more{
			width: 40px;
			height: 40px;
			background: transparent;
			position: relative;left: 0%; top: 0%;
			display: inline-block;
			border-radius: 50%;
			border:1px solid #e0e0e0;
			cursor: pointer;
			  margin-right: 6px;
		}
		.more span{
			width: 20px;
			height: 1.5px;
			background: #67bc45;
			position: absolute;top: 50%; left: 24.5%;
			transition:all 500ms ease-in-out;
			-webkit-transition:all 500ms ease-in-out;
			-moz-transition:all 500ms ease-in-out;
			-o-transition:all 500ms ease-in-out;
		}
		.more span:before{
			width: 20px;
			height: 1.5px;
			background: #67bc45;
			position: absolute;
			top: 0%; left: 0%;
			transform:rotate(90deg);
			-webkit-transform:rotate(90deg);
			-moz-transform:rotate(90deg);
			-o-transform:rotate(90deg);
			content: '';
			-webkit-transition:all 500ms ease-in-out;
			transition:all 500ms ease-in-out;
			-moz-transition:all 500ms ease-in-out;
			-o-transition:all 500ms ease-in-out;
		}
		.more.menos span:before{
			transform:rotate(0deg);
			-webkit-transform:rotate(0deg);
			-moz-transform:rotate(0deg);
			-o-transform:rotate(0deg);
			background: #67bc45;
		}
		.more.menos span{
			transform:rotate(0deg);
			-webkit-transform:rotate(0deg);
			-moz-transform:rotate(0deg);
			-o-transform:rotate(0deg);
			background: transparent;
		}


 /*SWIPES*/
 .cont-swipe{
		display: block;
		margin: 0 auto 0 auto;
	}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin: 0px 0 0 0;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#mySwipe div .reder, .reder {
  display:block;
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  height: auto;
  float: left;
  /* background: gold !important; */
  list-style: none;
  border-bottom: 1px solid #e8e7ea;
  padding: 0;
  background: #fff url("../images/icon28.png")no-repeat 95% center;
  background-size: 5%;
}

#mySwipe div .reder2, .reder2 {
  display:block;
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  height: auto;
  float: left;
  /* background: gold !important; */
  list-style: none;
  border-bottom: 1px solid #e8e7ea;
  padding: 0;

  background-size: 5%;
}
#mySwipe div.reder:hover{
	background: #f0f0f0 url("../images/icon28.png")no-repeat 95% center;
	background-size: 5%;
}
.reder img{
  float: left;
  vertical-align: middle;
  width: 13%;
  max-width: 20%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 2%;
}
.reder div{
  float: left;
  vertical-align: middle;
  padding-left: 3%;
  margin-top: 8%;
  /*background: red;*/
  width: auto;
  height: auto;
}
.reder p.mot{
	font-size: 5vw;
  	color: #000;
  	font-family: Gotham-Rounded-Medium;
}
.reder p{
	 overflow:      hidden;
   white-space:   nowrap;
   text-overflow: ellipsis;
	  padding: 0;
  margin: 0;
  display: block;
  min-height: 10px;
  width: 14em;
  text-align: left;
  font-size: 0.9em;
}

#mySwipe div.reder2:hover{
	background: #f0f0f0 url("../images/icon28.png")no-repeat 95% center;
	background-size: 5%;
}
.reder2 img{
  float: left;
  vertical-align: middle;
  width: 13%;
  max-width: 20%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 2%;
}
.reder2 div{
  float: left;
  vertical-align: middle;
  padding-left: 3%;
  margin-top: 8%;
  /*background: red;*/
  width: auto;
  height: auto;
}
.reder2 p.mot{
	font-size: 5vw;
  	color: #000;
  	font-family: Gotham-Rounded-Medium;
}
.reder2 p{
	  padding: 0;
  margin: 0;
  display: block;
  min-height: 10px;
  width: auto;
  text-align: left;
  font-size: 0.9em;
}
.desac{
   width: 94%;
   max-width: 100%;
   min-height: 61px;
   display: block;
   /*background: red;*/
   margin-top: 0 !important;
}
.desac button{
	width: 50%;
	min-height: 80px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	float: left;
	border: none;
	/*border:solid 1px #fff;*/
	background: #8ddb6d;
	font-family: Gotham-Rounded-Medium;
	margin-top: 0 !important;
}

 button.eliminar{
	background: #8ddb6d;
	border-bottom: 1px solid #8ddb6d;
	border-top: 1px solid #8ddb6d;
}
 button.desactivar{
	background: #67bc45;
	border-bottom: 1px solid #67bc45;
	border-top: 1px solid #67bc45;
}

.hide{
	display: none !important;
}

@media screen and (orientation: portrait){
	.cont-table{
		margin: 22% auto 0 auto;
	}
}
@media screen and (orientation: landscape){
	.cont-table{
		margin: 18% auto 0 auto;
	}
	.g {
	  margin: 6% auto 0 auto !important;
	}
	.g2 {
	  margin: 4% auto 0 auto !important;
	}
}
/*ipad landscape*/
@media screen and (min-width: 980px) and (max-width: 1024px) and (orientation: landscape){

	.cont-table table thead td{
		    height: 60px;
		}
		.g {
		  font-size: 6.5vw;
		  margin: 7% auto 0 auto !important;
		}
		div.m-gasto img {
  			width: 15%;
  		}
  		.c-graf{
			width: 600px;
			min-height: 350px;
			max-width: 600px;
			margin: 225px auto 0 auto;
		}
		.cir{
		margin: 11% auto 0 auto !important;
		width: 50% !important;
		}
		.cir>p{
			font-size: 3.5vw;
		}
		.cir>p span{
			font-size: 3.5vw;
		}
		button.cerrar{
			background-size: 100%;
		}
}

/*ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.numero button:last-child:before{
		border-right: 4px solid #888888;
		border-bottom: 4px solid #888888;
	}
	p, article.menu p, .g, ul.catego>li div p, h3, .gen, h2{
		font-size: 1.7em !important;
	}
	.tg, button.btn, div.btn {
		font-size: 2.7em;
	}
	button.r:nth-child(1){
	background-size: contain;
	  margin-left: 15%;
  		margin-right: 5%;
	}
	button.r:nth-child(2){
		background-size: contain;
	}
	.ol {
	  margin: 6% auto 0 auto;
	}
	form.log input, select, input[type="date"]{
		margin: 0 auto 5% auto;
		  min-height: 50px;
	}
	.iLog {
	  width: 33% !important;
	    margin-bottom: 2%;
	}
	.container{
		padding-bottom: 0;
	}
	.cont-top {
	  height: 46%;
	}
	form.log input:nth-child(1), form.log input:nth-child(2), form.log input:nth-child(3), form.log input:nth-child(4) {
	  background-size: 5%;
	}
	form.log.reg input {
	  margin-bottom: 8%;
	  margin-top: 8%;
	}
	.gen1{
		font-size: 2em !important;
	}
	input[type="date"]{
		background-size: 6.5%;
	}
	ul.catego{
		margin:19% 0 0 0;
	}
	ul.catego>li img, button.agregar img{
		width: auto;
	}
	button.back, button.coin{
		width: 65px;
  		height: 54px;
	}
	.g {
	  margin: 10% auto 0 auto !important;
	}
	button.selecciones{
		min-height: 60px;
	}
	.cat2{
 	}
 	form.logR{
 		margin-top: 220px;
 	}
 	form.logR input{
 		min-height: 50px;
 	}
 	.cir{
 		/*background: red;*/
 		width:573px;
 		margin: 30% auto 0 auto;
 	}
 	.cir .icon{
 		padding: 0 35%;
 		  margin: 50px auto 33px auto;
 	}
 	button.cerrar {
	  margin: 40px auto 25px auto !important;
	  background-size: 100%;
	}
	.porcent{
		margin: 210px auto 0 auto;
		font-size: 4vw;
	}
	.porcent span{
		font-size: 6vw;
	}
	.c-range {
	  margin: 305px auto 134px auto;
	}
	input[type="range"]::-webkit-slider-thumb:after{
	 	content: "Porcentaje del total de gastos alcanzados para alertar";
	 	width: 210px;
	 	height: auto;
	 	position: absolute;
	 	left: -605%;
	 	text-align: right;
	 	font-size: 2.8vw;
	 }
	.cont-table table thead td{
	    height: 60px;
	}
	.numero button {
	  width: 32%;
	}
	.vi {
	  margin: 5% auto 6% auto !important;
	}
	.reder{
		padding: 1.5% 3% !important;
		width: 94% !important;
	}
	.reder img{
		width: auto;
		margin-left: 0;
	}
	.reder2{
		padding: 1.5% 3% !important;
		width: 94% !important;
	}
	.reder2 img{
		width: auto;
		margin-left: 0;
	}
	.desac button{
		height: 140px;
		font-size: 2em;
	}


}

 /*iphone6 plus portrait*/
@media screen and (min-width : 414px) and (max-height : 736px) {
	.numero button {
	  width: 31%;
	}
	.reder img{
		  width: 13% !important;
	}
	.reder2 img{
		  width: 13% !important;
	}
}

/*iphone 6 portrait*/
@media screen and (min-width: 320px) and (min-height: 667px) and (max-height: 670px){
	form.logR{
		margin-top: 37%;
	}
	.porcent {
	  margin: 40% auto 0 auto;
	}
	.c-range {
	  margin: 33% auto 0 auto;
	}
	.ingD {
	  margin-top: 30% !important;
	}
	.ing {
	  margin-top: 45%;
	}
	.iLog {
	  margin-top: 5%;
	}
	.margin-top{
	margin-top: 10% !important;
	}
	.reder img{
		  margin-top: 4%;
	}
	.reder div{
		  margin-top: 5%
	}
	.reder2 img{
		  margin-top: 4%;
	}
	.reder2 div{
		  margin-top: 5%
	}
	h4{
		margin: 15% auto !important;
	}
}

/*iphone 5 portrait*/
@media screen and (min-width: 320px) and (max-height: 568px){
	form.logR{
		/*background: blue;*/
		min-height: 480px;
		margin-top: 37%;
	}
	.ingD {
	  margin-top: 12% !important;
	}
	h4{
		margin: 6% auto;
	}
}
/*iphone 3 y 4 porytrait*/
@media screen and (min-width: 320px) and (max-height: 480px){
	.scroll3-4{
		overflow: auto !important;
	}

	form.logR{
		/*background: pink;*/
		margin-top: 39%;
	}
	.vi{
	  margin: 5% auto 7% auto !important;
	}
	.c-range {
	  min-height: 210px;
	}
	.iLog {
	  margin-bottom: 2%;
	}
	form.log {
	  padding-top: 0%;
	}
	article.menu img{
		width: 40%;
	}
}

/*iphone 3 y 4 y 5 landscape*/
@media screen and (min-width: 480px) and (max-width: 568px) and (max-height: 320px) and (orientation: landscape){
	.cir{
		  width: 50%;
		  margin: 5% auto 0 auto;
		 /* background: red;*/
	}
	.cir>p{
		font-size: 3.2vw;
	}
	.cir>p span{
		font-size: 3.2vw;
	}
	.elim button, button.conf{
		font-size: 3.5vw;
		  margin-top: 5%;
	}
}
/*iphone 6 y plus landscape*/
@media screen and (min-width: 640px) and (max-width: 736px) and (min-height: 320px) and (max-height: 414px) and (orientation: landscape){
	.cir{
		  width: 50%;
		  margin: 4% auto 0 auto;
		 /* background: red;*/
	}
	.cir>p{
		font-size: 3.2vw;
	}
	.cir>p span{
		font-size: 3.2vw;
	}
	.elim button, button.conf{
		font-size: 3.5vw;
		  margin-top: 5%;
	}

}
@media screen and (orientation : landscape){
	/*.container,span#ver_grafica, .gr{
		display: none;
	}*/
	.c-graf{
		/*margin: 0 auto;*/
	}
	/*.container{
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		height: 100%;
		width: 100%;
		background: red;
	}*/

}

/*iphone4 portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
}
/*iphone5 portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
}
/*iphone6 portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
 }
 /*iphone6 plus portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	.numero button {
	  width: 31%;
	}
}
/*ipad landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: lanscape) and (-webkit-min-device-pixel-ratio: 1) {
}
/**/
